.account {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  margin-top: 15px;
}

.user-details h1 {
  margin: 0;
  font-size: 24px;
}

.user-details p {
  margin: 5px 0;
  color: #666;
}

.account-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.account-buttons button {
  background-color:lightblue;
  color: black;
  font-family: poppins;
  font-weight: 600;
  padding: 10px 10px;
  border: 18px sloid black;
  border-radius: 75px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.account-buttons button:hover {
  background-color:#45a049;
  transform: scale(1.15);
}

.account-buttons button:active {
  background-color: #3e8e41;
}
