/* Admin.css */

.admin-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.product-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-id, 
.product-name, 
.product-category, 
.product-price, 
.product-prev-price, 
.product-description {
  margin-bottom: 8px;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  grid-column: span 2;
  margin-top: 10px;
}

.edit-button {
  padding: 10px 20px;
  background-color: #007bff;
  width: 20%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: span 2;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}
