.authentication{
    padding-top: 10px;
    width: 100vw;
    height: 80vh;
    background: gray;
    padding-bottom: 80px;
}

.authentication-content{
    width: 400px;
    height: 600px;
    background: lightgray;
    border-radius: 50px;
    margin: auto;
    padding: 10px 50px;
}

.authentication h1{
    margin: 20px 0px;
}

.create-fields{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 20px;
}

.create-fields input{
    height: 71px;
    width: 100%;
    padding-left: 21px;
    border: 1px solid white;
    color: black;
    font-size: 21px;
    font-family: poppins;
    border-radius: 81px;
}

.authentication-login{
    color:black
    font-size 21px;
    font-weight: 400;
}

.authentication button{
    border: 1px solid black;
    justify-content: center;
    border-radius: 69px;
    width: 80%;
    text-align: center;
    height: 69px;
    margin-left: 15px;
    background: gray;
    margin-bottom: 30px;
}

.authentication-login span{
    color:black;
    font-weight: 400;
}

.link-like-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  